/*-------------------------------------------------------------------*/
/*--global rules-----------------------------------------------------*/
/*-------------------------------------------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: height 0.5s ease, padding 0.5s ease, margin 0.5s ease, width 0.5s ease;
}

:root {
  --doc-height: 100%;
  font-size: 14px;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background: #eee;
  /*background-image: url(../../imgs/sunrise-and-sunset3.jpg);
  background-image: url(/imgs/sunrise-and-sunset3.jpg);
  background-image: url(./../../imgs/sunrise-and-sunset3.jpg);*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  font-family: "poppins";
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .loading {
  opacity: 1;
  visibility: visible;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  background: rgb(42, 42, 42);
  background: rgba(0, 0, 0, 0.72);
}
body .loading.hidden {
  -webkit-animation: fadeout 1s;
          animation: fadeout 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes fadeout {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fadeout {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body .loading .loading-child {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1250px) {
  body .loading .loading-child {
    top: 300px;
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 799px) {
  body .loading .loading-child {
    padding: 5px;
  }
}
body .loading .loading-child .loading-container {
  width: 100%;
  height: 100%;
  position: relative;
}
body .loading .loading-child .loading-container div.dynamic,
body .loading .loading-child .loading-container div.static {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-width: 8px;
  border-style: solid;
  overflow: hidden;
}
body .loading .loading-child .loading-container div.dynamic {
  -webkit-animation: loading 1.4s linear infinite;
          animation: loading 1.4s linear infinite;
  border-color: #004ab1 transparent transparent transparent;
  z-index: 1001;
}
body .loading .loading-child .loading-container div.static {
  border-color: rgb(202, 202, 202);
  border-color: rgb(36, 36, 36);
  box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.18);
}

img {
  max-width: 100%;
}

.wrapper {
  width: 100%;
  max-width: 1400px;
  transition: width 0.5s ease, max-width 0.5s ease;
}
@media (min-width: 1000px) {
  .wrapper {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    transition: width 0.5s ease, min-height 0.5s ease, margin 0.5s ease;
  }
}

.container {
  padding: 0px;
  display: grid;
  gap: 30px;
  padding: 30px;
  transition: padding 0.5s ease, margin 0.5s ease, gap 0.5s ease, width 0.5s ease;
  grid-template-areas: "search-main" "daily" "additional" "conditions";
}
@media (max-width: 799px) {
  .container {
    padding: 5px;
  }
}
@media (min-width: 800px) {
  .container {
    grid-template-areas: "search-main search-main" "daily additional" "conditions conditions";
  }
}
@media (min-width: 1000px) {
  .container {
    margin: 30px;
    grid-template-areas: "search-main daily" "additional additional" "conditions conditions";
    border-radius: 20px;
    min-width: 980px;
    padding: 50px;
  }
}
@media (min-width: 1250px) {
  .container {
    min-width: 1200px;
    grid-template-areas: "search-main additional daily" "conditions conditions conditions";
  }
}
@media (max-height: 700px) and (min-width: 1250px) {
  .container {
    margin: 0px;
    padding: 30px;
  }
}
.container > *:not(.search-main) {
  padding: 20px;
  background-color: #0047ab;
  border: 1px solid rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  transition: width 0.5s ease, height, min-width 0.5s ease 0.5s, border-radius 0.5s ease;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 4px 1px, rgba(0, 0, 0, 0.15) 0px 0px 10px 2px;
}
@media (min-width: 800px) {
  .container > *:not(.search-main)::before {
    content: "";
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    position: absolute;
    left: -10px;
    top: -10px;
    z-index: -1;
    border-radius: 16px;
    background-color: hsla(0deg, 0%, 0%, 0.04);
  }
}
.container .search-main {
  grid-area: search-main;
}
.container .daily-hourly {
  grid-area: daily;
  min-width: 360px;
}
@media (max-width: 350px) {
  .container .daily-hourly {
    min-width: 310px;
  }
}
.container .conditions {
  grid-area: conditions;
}
.container .additional {
  grid-area: additional;
}

.search-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
@media (min-width: 1000px) {
  .search-main {
    min-width: 500px;
  }
}
@media (min-width: 1250px) {
  .search-main {
    min-width: 400px;
  }
}
@media (max-height: 700px) and (min-width: 1250px) {
  .search-main {
    max-height: 380px;
  }
}
.search-main > .main,
.search-main .search {
  border-radius: 20px;
  display: flex;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.09);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 4px 1px, rgba(0, 0, 0, 0.15) 0px 0px 10px 2px;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}
.search-main .get-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background: none !important;
}
@media (min-width: 1000px) {
  .search-main .get-location {
    flex-direction: row;
  }
}
.search-main .get-location .search {
  width: 100%;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
  background: rgb(255, 255, 255);
  position: relative;
  padding-left: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 4px 1px, rgba(0, 0, 0, 0.15) 0px 0px 10px 2px;
}
@media (min-width: 800px) {
  .search-main .get-location .search::before {
    content: "";
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    position: absolute;
    left: -10px;
    top: -10px;
    z-index: -1;
    border-radius: 16px;
    background-color: hsla(0deg, 0%, 0%, 0.04);
  }
}
.search-main .get-location .search i {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  padding: 10px;
  cursor: pointer;
  color: #000;
}
.search-main .get-location .search input {
  width: 90%;
  border: none;
  outline: none;
  background: none;
  color: #fff;
  color: #000;
}
.search-main .get-location .search input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.481);
  font-size: 13px;
  font-weight: 600;
  color: #000;
}
.search-main .get-location .search input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.481);
  font-size: 13px;
  font-weight: 600;
  color: #000;
}
.search-main .get-location .search input::placeholder {
  color: rgba(255, 255, 255, 0.481);
  font-size: 13px;
  font-weight: 600;
  color: #000;
}
.search-main .get-location .current-location {
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 10px;
  order: -1;
  background-color: #0047ab;
  border-radius: 10px;
  padding: 15px;
  height: 90%;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 4px 1px, rgba(0, 0, 0, 0.15) 0px 0px 10px 2px;
}
@media (min-width: 800px) {
  .search-main .get-location .current-location::before {
    content: "";
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    position: absolute;
    left: -10px;
    top: -10px;
    z-index: -1;
    border-radius: 16px;
    background-color: hsla(0deg, 0%, 0%, 0.04);
  }
}
@media (min-width: 1000px) {
  .search-main .get-location .current-location {
    order: 1;
    width: 170px;
  }
}
.search-main .main {
  height: 100%;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  background: #0047ab;
}
@media (max-height: 700px) and (min-width: 1250px) {
  .search-main .main {
    height: 300px;
  }
}
@media (min-width: 800px) {
  .search-main .main::before {
    content: "";
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    position: absolute;
    left: -10px;
    top: -10px;
    z-index: -1;
    border-radius: 16px;
    background-color: hsla(0deg, 0%, 0%, 0.04);
  }
}
.search-main .main .date-time {
  font-size: 1rem;
  font-weight: 300;
  display: flex;
  gap: 10px;
}
.search-main .main .city {
  display: flex;
  align-items: center;
}
.search-main .main .city i {
  font-size: 20px;
  margin-right: 10px;
}
.search-main .main .city span.city {
  font-size: 2.5rem;
  font-weight: 300;
}
@media (max-height: 700px) and (min-width: 1250px) {
  .search-main .main .city span.city {
    font-size: 1.5rem;
  }
}
.search-main .main .city span.country {
  font-size: 2rem;
  font-weight: 200;
}
@media (max-height: 700px) and (min-width: 1250px) {
  .search-main .main .city span.country {
    font-size: 1.1rem;
  }
}
.search-main .main .temperature {
  font-size: 4.5rem;
  font-weight: 600;
  margin-top: 30px;
}
@media (max-height: 700px) and (min-width: 1250px) {
  .search-main .main .temperature {
    font-size: 3rem;
    margin-top: 10px;
  }
}
.search-main .main .temperature sup {
  margin-left: -8px;
  margin-right: -10px;
  font-weight: 100;
}
.search-main .main .temperature .temp-unit {
  font-weight: 100;
}
.search-main .main .discription {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: -10px;
}
@media (max-height: 700px) and (min-width: 1250px) {
  .search-main .main .discription {
    margin: 10px 0 0 0;
  }
}
.search-main .main .icon {
  width: 129px;
  height: 120px;
  margin-bottom: 30px;
  margin-top: 20px;
  position: relative;
}
@media (max-height: 700px) and (min-width: 1250px) {
  .search-main .main .icon {
    width: 100px;
    height: 100px;
    margin: 10px 0 0 0;
  }
}
.search-main .main .switch-units {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  border-radius: 40px;
  padding: 5px 10px;
  margin-top: 10px;
  background-color: #222;
  background-color: rgba(0, 0, 0, 0.5);
  background-color: rgb(255, 255, 255);
  font-weight: 600;
  width: 80px;
  position: relative;
  z-index: 50;
}
.search-main .main .switch-units > * {
  cursor: pointer;
  padding: 5px;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
}
.search-main .main .switch-units > *.celsius {
  color: #fff;
}
.search-main .main .switch-units > *.fahrenheit {
  color: #000;
}
.search-main .main .switch-units .bg {
  position: absolute;
  height: calc(100% - 6px);
  width: calc(50% - 3px);
  left: 3px;
  top: 3px;
  background-color: #0047ab;
  border-radius: 20px;
  z-index: -1;
  transition: left 0.1s ease;
  box-shadow: 0px 0px 3px 0px #000;
}

.daily-hourly {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
@media (min-width: 1000px) {
  .daily-hourly {
    min-width: 300px;
  }
}
@media (max-height: 700px) and (min-width: 1250px) {
  .daily-hourly {
    max-height: 380px;
  }
}
.daily-hourly > * {
  width: 100%;
}
.daily-hourly .buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 17px;
  margin-top: 5px;
  background-color: #ffffff;
  width: calc(100% - 40px);
  margin-right: auto;
  border-radius: 10px;
  position: relative;
  z-index: 10;
  cursor: pointer;
  font-weight: 600;
  overflow: hidden;
  min-height: 50px;
  margin-left: 10px;
}
@media (max-height: 700px) and (min-width: 1250px) {
  .daily-hourly .buttons {
    min-height: 50px;
  }
}
.daily-hourly .buttons .daily-btn {
  color: #fff;
}
.daily-hourly .buttons .hourly-btn {
  color: #000;
}
.daily-hourly .buttons .bg {
  background-color: #222;
  background-color: #0047ab;
  height: calc(100% - 6px);
  width: calc(50% - 3px);
  position: absolute;
  left: 3px;
  top: 3px;
  box-shadow: 0px 0px 5px 2px #000;
  border-radius: 8px;
  z-index: -1;
  transition: left 0.1s ease, width 0.1s ease;
  box-shadow: 0px 0px 3px 0px #000;
}
.daily-hourly .buttons .animation-triger {
  width: calc(100% - 6px);
}
.daily-hourly .buttons > div {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.daily-hourly .daily.active,
.daily-hourly .hourly.active {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 420px;
  overflow-y: scroll;
  border-radius: 10px;
  padding: 10px 0px;
}
.daily-hourly .daily.active::-webkit-scrollbar,
.daily-hourly .hourly.active::-webkit-scrollbar {
  width: 20px;
  background-color: transparent;
}
.daily-hourly .daily.active::-webkit-scrollbar-thumb,
.daily-hourly .hourly.active::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.37);
  border-radius: 10px;
  border: 6px solid transparent;
  background-clip: padding-box;
}
.daily-hourly .daily {
  display: none;
}
.daily-hourly .daily .day {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.093);
  border-radius: 10px;
  padding: 10px 15px;
  margin: 0px 10px;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 2px, rgba(0, 0, 0, 0.22) 0px 0px 12px 1px;
}
@media (max-width: 350px) {
  .daily-hourly .daily .day {
    font-size: 12px;
  }
}
.daily-hourly .daily .day .temp {
  min-width: 80px;
  text-align: center;
}
.daily-hourly .daily .day .image {
  width: 35px;
  height: 31px;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 30px;
}
@media (max-width: 350px) {
  .daily-hourly .daily .day .image {
    margin-right: 0px;
  }
}
.daily-hourly .daily .day .day-name {
  text-transform: capitalize;
}
.daily-hourly .hourly {
  display: none;
}
.daily-hourly .hourly .hour {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.242);
  background: rgba(255, 255, 255, 0.093);
  border-radius: 10px;
  padding: 10px 15px;
  font-weight: 600;
  margin: 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 2px, rgba(0, 0, 0, 0.22) 0px 0px 12px 1px;
}
@media (max-width: 350px) {
  .daily-hourly .hourly .hour {
    font-size: 12px;
  }
}
.daily-hourly .hourly .hour .image {
  width: 35px;
  height: 31px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 30px;
}
.daily-hourly .hourly .temp {
  min-width: 80px;
  text-align: center;
}

.conditions {
  justify-content: space-evenly;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.conditions > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  background: rgba(0, 0, 0, 0.705);
  background: rgba(255, 255, 255, 0.242);
  background: rgba(255, 255, 255, 0.093);
  padding: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 2px, rgba(0, 0, 0, 0.22) 0px 0px 12px 1px;
}
.conditions > * .content {
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.conditions > * .content h4 {
  text-transform: capitalize;
  font-weight: 400;
}
.conditions > * .content .value {
  text-align: center;
  font-weight: 300;
}
.conditions > * object {
  width: 50px;
  min-height: 50px;
}
.conditions > * i {
  font-size: 40px;
  min-height: 50px;
}
.conditions > * .image {
  max-width: 50px;
  max-height: 50px;
}
.conditions .pressure .image img {
  margin-top: -4px;
  max-height: 50px;
  align-self: flex-start;
}

.additional {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (min-width: 1000px) {
  .additional {
    min-width: 200px;
  }
}
@media (max-height: 700px) and (min-width: 1250px) {
  .additional {
    max-height: 380px;
  }
}
.additional > .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}
.additional > .content::-webkit-scrollbar {
  width: 20px;
  background-color: transparent;
}
.additional > .content::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.37);
  border-radius: 10px;
  border: 6px solid transparent;
  background-clip: padding-box;
}
.additional > .content > * {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.093);
  border-radius: 13px;
  max-height: 70px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 2px, rgba(0, 0, 0, 0.22) 0px 0px 12px 1px;
}
@media (max-height: 700px) and (min-width: 1250px) {
  .additional > .content > * {
    padding: 10px;
  }
}
.additional > .content > * .content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.additional > .content > * .content h4 {
  text-transform: capitalize;
  font-weight: 400;
}
.additional > .content > * .content time {
  font-weight: 300;
}
.additional > .content > * .image {
  max-width: 48px;
}
.additional > .content > * .image img {
  max-width: 77%;
}
.additional > .content .moonrise .image,
.additional > .content .moonset .image {
  max-height: 90px;
}
.additional > .content .moonrise .image img,
.additional > .content .moonset .image img {
  max-width: 78%;
}
.additional .date-time {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 5px;
  margin-bottom: 15px;
  font-size: 1.2em;
}
@media (max-height: 700px) and (min-width: 1250px) {
  .additional .date-time {
    font-size: 1em;
  }
}/*# sourceMappingURL=main.css.map */