.wrapper {
	width: 100%;
	max-width: 1400px;
	transition: width 0.5s ease, max-width 0.5s ease;

	@media (min-width: 1000px) {
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
		width: 100%;
		transition: width 0.5s ease, min-height 0.5s ease, margin 0.5s ease;
	}
}

.container {
	padding: 0px;
	display: grid;
	gap: 30px;
	padding: 30px;
	// transition: width 0.3s ease-in-out;
	// box-shadow: rgb(0 0 0 / 25%) 0px 0px 4px 1px,
	// 	rgb(0 0 0 / 22%) 0px 0px 20px 9px;
	background-color: rgba(255, 255, 255, 0.12);
	background-color: #00000027;
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(3.5px);
	-webkit-backdrop-filter: blur(3.5px);
	border: 1px solid rgba(255, 255, 255, 0.07);
	transition: padding 0.5s ease, margin 0.5s ease, gap 0.5s ease,
		width 0.5s ease;

	grid-template-areas:
		"search-main"
		"daily"
		"additional"
		"conditions";
	@media (max-width: 799px) {
		padding: 5px;
	}

	@media (min-width: 800px) {
		grid-template-areas:
			"search-main search-main"
			"daily additional"
			"conditions conditions";
	}

	@media (min-width: 1000px) {
		margin: 30px;
		grid-template-areas:
			"search-main daily"
			"additional additional"
			"conditions conditions";
		border-radius: 20px;
		min-width: 980px;
		padding: 50px;
	}

	@media (min-width: 1250px) {
		min-width: 1200px;
		grid-template-areas:
			"search-main additional daily"
			"conditions conditions conditions";
	}

	@media (max-height: 700px) and (min-width: 1250px) {
		margin: 0px;
		padding: 30px;
	}

	> *:not(.search-main) {
		padding: 20px;
		background-color: #0047ab;
		background: rgba(0, 0, 0, 0.5);
		background: #222;
		border: 1px solid rgba(255, 255, 255, 0.09);
		border-radius: 16px;
		backdrop-filter: blur(6px);
		-webkit-backdrop-filter: blur(6px);
		transition: width 0.5s ease, height, min-width 0.5s ease 0.5s,
			border-radius 0.5s ease;
		box-shadow: rgb(0 0 0 / 25%) 0px 0px 4px 1px,
			rgb(0 0 0 / 15%) 0px 0px 10px 2px;

		@media (min-width: 800px) {
			&::before {
				content: "";
				width: calc(100% + 20px);
				height: calc(100% + 20px);
				position: absolute;
				left: -10px;
				top: -10px;
				z-index: -1;
				border-radius: 16px;
				background-color: hsla(0, 0%, 0%, 0.208);
			}
		}
	}

	.search-main {
		grid-area: search-main;
	}

	.daily-hourly {
		grid-area: daily;
		min-width: 360px;

		@media (max-width: 350px) {
			min-width: 310px;
		}
	}

	.conditions {
		grid-area: conditions;
	}

	.additional {
		grid-area: additional;
	}
}
